/**
 * Template Front Page Styles
 *
 * @package Postali Child
 * @author Postali LLC
**/

.page-template-front-page {
    #banner {
        display: block;
        margin: 136px auto 0 auto; //offsets nav
        padding: 100px 0 0 0 !important;
        border: solid 15px $navy;
        max-width: 80%;
        position: relative;
        height: 100%;
        @include respond(tab-port) {
            padding: 30px 0 0 0 !important;
            max-width: 90%;
        }
        @include respond(tab-port) {
            z-index: 0;
            margin-bottom: 120px;
            & > .columns:first-of-type {
                position: relative;
                z-index: -1;
            }
        }
        @include respond(phone-lg) {
            margin-top: 110px;
        }
        .copy-wrapper {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: space-between;
            height: 100%;
            .inner-wrapper {
                padding: 0 25px;
                max-width: 700px;
                @include respond(desktop) {
                    max-width: 100%;
                }
            }
            h1 {
                margin-bottom: 10px;
            }
            .bottom-copy {
                background: $ltgrey;
                padding: 25px 0;
                margin-top: 100px;
                overflow: hidden;
                @include respond(tab-port) {
                    margin-top: 20px;
                }
                .inner-wrapper {
                    max-width: 45%;
                    @include respond(tab-land) {
                        max-width: 100%;
                    }
                    .blue-subtitle {
                        @include respond(tab-port) {
                            text-align: center;
                        }
                    }
                }
                .banner-img img {
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    object-fit: contain;
                    max-width: 700px;
                    width: 50%;
                    height: auto;
                    @include respond(tab-land) {
                        max-width: 585px;
                        width: 100%;
                        position: relative;
                        bottom: -25px;
                        margin: 0 0 0 auto;
                        object-fit: cover;
                    }

                    @include respond(tab-port) {
                        width: 100%;
                        bottom: -86px;
                    }
                    @include respond(phone) {
                        width: 400px;
                        bottom: -25px;
                    }
                }
            }
        }
        .experience-block {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: -50px;
            bottom: -50px;
            background: $navy;
            text-align: center;
            padding: 40px 35px;
            @include respond(tab-port) {
                padding: 20px 20px 10px 20px;
                width: 200px;
                right: calc( 50% - 120px );
                bottom: -120px;
            }
            &:after {
                content: "";
                background: $yellow;
                position: absolute;
                z-index: -1;
                bottom: -10px;
                right: -10px;
                width: 100%;
                height: 100%;
            }
            .large-text {
                color: $yellow;
                font-family: $kanit;
                font-size: 80px;
                font-weight: $bold;
                letter-spacing: 5px;
                line-height: 70px;
                margin-bottom: 10px;
                @include respond(tab-port) {
                    font-size: 70px;
                    margin-bottom: 0 !important;
                }
            }
            .small-text {
                color: $white;
                font-family: $kanit;
                font-size: 18px;
                font-weight: $thin;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
        }
    }
    #panel-2 {
        h2 {
            text-align: center;
            margin-bottom: 70px !important;
        }
        .image-wrapper {
            img {
                position: relative;
                z-index: -1;
            }
        }
        .awards-slider {
            top: -150px;
            @include respond(tab-port) {
                left: calc(50% - 150px);
                margin-bottom: -75px;
            }
            @include respond(phone) {
                width: 200px !important;
                height: 125px !important;
                top: -100px !important;
                left: calc(50% - 104px) !important;
            }
        }
        .grey-block {
            background: $ltgrey;
            padding: 40px 50px;
            &.wide {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 30px;
                margin-bottom: 150px;
                @include respond(tab-land) {
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    margin-bottom: 50px;
                }
                @include respond(tab-port) {
                    position: relative;
                    left: -30px;
                    width: 100%;
                    padding: 30px;
                }
                .copy {
                    flex-shrink: 1;
                    p {
                        margin-bottom: 0 !important;
                    }
                }
                .btn-fill {
                    flex-shrink: 0;
                }
            }
        }
        .reviews {
            position: relative;
            .mobile-stars-img {
                display: none;
                @include respond(tab-land) {
                    display: block;
                    max-width: 300px;
                    margin-top: 30px;
                }
            }
            &:after {
                content: "";
                background: url('/wp-content/uploads/2024/03/Stars-Reviews-Graphic.svg') no-repeat;
                background-size: 100%;
                width: 400px;
                height: 200px;
                position: absolute;
                right: 0;
                top: 0;
                @include respond(tab-land) {
                    display: none;
                }
            }
        }
        .results {
            margin-top: 120px;
            align-items: center;
            .results-desktop-btn{
                @include respond(tab-port) {
                    display: none;
                }
            }
            .results-mobile-btn {
                display: none;
                @include respond(tab-port) {
                    display: block;
                    margin-top: 15px;
                }
            }
            @include respond(tab-port) {
                flex-direction: column-reverse;
                margin-top: 50px;
            }
            .grey-block {
                color: $navy;
                text-transform: uppercase;
                font-family: $kanit;
                font-weight: 500;
                letter-spacing: 2.2px;
                font-size: 20px;
                line-height: 30px;
                .blue-subtitle {
                    margin-top: 30px;
                }
            }
            .img-wrapper {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 20px;
                margin-top: 30px;
                img, .attorney-img {
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    object-fit: cover;
                    object-position: center;
                }
                .attorney {
                    p {
                        margin-bottom: 0 !important;

                        &.name {
                            font-weight: $bold;
                        }
                        &.title {
                            text-transform: capitalize;
                        }
                    }
                }
            }
        }
    }
    #panel-3 {
       .column-full {
            margin-bottom: 50px;
            h2, p {
                text-align: center;
            }
       }
       .accordion-wrapper {
           width: 100%;
           margin-bottom: 50px;
       } 
       .column-50 {
            &.outer-pa-wrapper {
                .btn-fill {
                    @include respond(phone) {
                        margin: 0 auto;
                    }
                }
            }
            &.img {
                position: relative;
                .pa-img {
                    display: none;
                    position: absolute;
                    top: 0;
                    right: 0;
                    &.active {
                        display: block;
                    }
                    img {
                        height: 100% !important;
                        width: 100% !important;
                        object-fit: cover;
                        position: relative;
                        z-index: -1;
                    }
                    .pa-toggle {
                        position: absolute;
                        bottom: 30px;
                        right: 30px;
                        width: fit-content;
                        background: $navy;
                        padding: 10px 30px;
                        display: flex;
                        justify-content: center;
                        gap: 10px;
                        &:after {
                            content: "";
                            background: $yellow;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            bottom: -5px;
                            right: -5px;
                            z-index: -1;
                        }
                        p {
                            font-family: $kanit;
                            font-size: 18px;
                            text-transform: uppercase;
                            color: $white;
                            letter-spacing: 2.2px;
                            line-height: 28px;
                            font-weight: $normal;
                            margin-bottom: 0 !important;
                        }
                        .toggle-arrow {
                            width: 30px;
                            height: 30px;
                            position: relative;
                            &:after {
                                content: "\ea3c";
                                font-family: $icomoon;
                                position: absolute;
                                z-index: 1;
                                top: 5px;
                                background-size: contain;
                                background-position: center;
                                width: 15px;
                                height: 15px;
                                color: $white;
                            }
                            &.prev {
                                &:after {
                                    transform: rotate(180deg);
                                    top: 8.5px;
                                }
                            }
                        }
                    }
                }


                @include respond(tab-port) {
                    display: none;
                }
            }
       }
    }
    #panel-4 {
        h2 {
            text-align: center;
            margin-bottom: 70px !important;
            @include respond(tab-port) {
                margin-bottom: 35px !important;
            }
        }
        .column-50 {
            &:first-of-type {
                img {
                    @include respond(tab-port) {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
    #panel-5 {
        h2, .blue-subtitle {
            text-align: center;
        }
        .faq-wrapper {
            margin-top: 70px;
        }
    }
    #panel-7 {
        h3 {
            text-align: center;
            margin-bottom: 50px !important;
        }
    }
    
}