header {
    position: fixed;
    top:0;
    width: 100%;
    z-index: 50;
    display:flex;
    height:95px;
    transition: $trans;
    border-bottom: solid 1px $navy;
    background-color: $white;
    @include respond(phone) {
        height: 80px;
    }
    #header-top {
        display: flex;
        justify-content: space-between;
        max-width: 94%;
        width: 100%;
        height: 100%;
        align-items: center;
        padding: 0 !important;
        @include respond(phone) {
            max-width: 100%;
        }
        &_left {
            display: flex;
            width: 25%;
            justify-content: flex-start;
            .mobile-btn {
                display: none;
                @include respond(phone) {
                    display: block;
                    height: fit-content;
                    width: fit-content;
                    align-self: center;
                    margin-bottom: 0 !important;
                    margin-left: 20px;
                    padding: 10px;
                }
            }
            .custom-logo-link {
                width: 100%;
                max-width: 300px;
                height: auto;
                display:flex;
                z-index: 2;
                @include respond(phone) {
                    background-image: url('/wp-content/uploads/2024/04/wagner-logo-mobile.png');
                    background-repeat: no-repeat;
                    background-size: 118%;
                    background-position: center;
                    width: 160px !important;
                    height: 100px !important;
                    display: block !important;
                }
                .custom-logo {
                    max-height: 60px;
                    max-width: 300px;
                    width: 100%;
                    @include respond(phone) {
                        display: none;
                    }
                }
            }
            
            @include respond(tab-land) {
                width: 100%;
            }
        }
        &_right {
            li {
                a {
                    text-decoration: none !important;
                }
            }
        }
    }
}