.page-template-ppc-block {
    .body-container {
        .banner {
            margin-top: 90px;

            h1,
            h2,
            p {
                color:$white;
                font-family: "Kanit",sans-serif;
            }

            .container {
                @include respond(tab-port) {
                    padding:50px 35px;
                }
            }

            &.image {
                padding: 110px 0 80px 0;

                @include respond(tab-port) {
                    padding:0;
                }
                
                .container {
                    margin: 0;
                    padding: 0;
                    max-width: 100%;

                    @include respond(tab-port) {
                        width: 100%;
                        max-width: 1600px;
                        margin: 0 auto;
                        padding: 0 50px;
                        box-sizing: border-box;
                    }

                    .columns {
                        align-items: center;
                    }

                    .column-50 {
                        @include respond(tab-port) {
                            width:100%;
                        }

                        &:first-of-type {
                            margin-left: 100px;
                            width: calc(50% - 100px);

                            @include respond(tab-port) {
                                margin-left: 0;
                                margin-bottom: 40px;
                                width:100%;
                            }
                        }

                        .img-block {
                            img {
                                height: 600px;
                                width:100%;
                                -o-object-fit: cover;
                                object-fit: cover;
                                -o-object-position: right center !important;
                                object-position: right center !important;
                                margin-right: 0;
                                margin-left: auto;
                            }
                        }
                    }
                }
            }

            &.form {
                padding: 110px 0 80px 0;

                @include respond(tab-port) {
                    padding:0;
                }

                .columns {
                    align-items: center;

                    .form-block {
                        padding: 10px 30px 20px;
                        box-sizing: border-box;
                        background: $white;
                        width: 100%;

                        p.gform_required_legend {
                            color: black !important;
                            font-weight: 500;
                            font-size: 12px !important;
                        }
                    }
                }
                
                .gform_wrapper {  
                    
                    &.gravity-theme {
                        .gform_fields {
                            display: grid !important;
                            grid-column-gap: 2%;
                            grid-row-gap: 16px;
                            grid-template-columns: repeat(12, 1fr);
                            grid-template-rows: repeat(auto-fill, auto);
                            width: 100%;
                        }

                        textarea {
                            width: 100% !important;
                            max-width: 100% !important;
                            height: 100px !important;
                        }
    
                        label.gfield_label.gform-field-label,
                        legend.gfield_label.gform-field-label.gfield_label_before_complex {
                            font-weight: bold;
                        }
        
                        .gform_footer.top_label {
                            display: block;
                            margin-top: 20px !important;
                        }
        
                        input[type=submit] {
                            width: 100% !important;
                            font-size: 18px;
                            border: none;
                            padding: 11px;
                            box-sizing: border-box;
                            position: relative;
                            display: block;
                            color: $dkblue;
                            background-color: $yellow !important;
                            border: none;
                        }
                    }
                }

                .gform_footer.top_label {
                    text-align: right;
                }
            }

            &.testimonial {
                .column-50 {
                    &.testimonial {
                        background:$white;
                        box-sizing: border-box;
                        padding: 50px 30px 10px;
                        position: relative;

                        @include respond(tab-port) {
                            margin-top: 50px;
                        }

                        p {
                            font-size: 16px !important;
                            color:$dkblue;
                            font-weight: 300;
                        }

                        .source-author {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            width: 100%;

                            img {
                                height: auto;
                                width: 100px;
                                opacity: .5;
                            }

                            .author {
                                p {
                                    font-size: 14px !important;
                                    font-weight: bolder;
                                    margin-bottom: 0 !important;
                                }
                            }
                        }

                        &::before {
                            position: absolute;
                            top:0;
                            left: 50px;
                            transform:translateY(-60%);
                            color:$yellow;
                            background:$dkblue;
                            content:'★★★★★';
                            font-size:30px;
                            padding:15px;
                            letter-spacing: 3px;
                        }
                    }
                }
            }
        }
    }
}