.page-template-ppc-block {
    .body-container {
        .columns-layout {
            .container {
                .columns {
                    align-items: center;

                    @include respond(desktop-lg) {
                        align-items: flex-start;
                    }

                    .column-full {
                        h2 {
                            text-align: center;
                        }
                    }

                    .column-50 {
                        img {
                            width: 100%;
                        }
                    }

                    .column-33 {
                        iframe {
                            width: 100%;
                            height: 300px;
                        }
                    }
                }
            }

            &.three-column {
                .container {
                    .columns  {
                        align-items: flex-start;
                        padding: 40px;
                        box-sizing: border-box;
                        background: $white;
                        border: 10px solid $dkblue;
                    }
                }
            }
        }
    }
}