#scroller-awards {
    .container {  
        h3 {
            text-align: center;
        }
        
        .slider-container {
            padding: 30px 0;
            background-color: $white;
            position: relative;
               
            #awards-slider {
                margin-bottom: 0;
                
                .slick-slide {
                    display: flex;
                    justify-content: center;
            
                    img {
                        max-height: 110px !important;
                    }
                }
            }
        }

        .slider-dots {
            display:none;
        }
    }

    @include ppc-block;
}

#scroller-results,
#scroller-testimonial,
#scroller-generic {

    .container {
        .columns {
            align-items: normal;

            .column-33 {
                @include respond(tab-port) {
                    width:100%;
                }

                .slider-image {
                    width:100%;

                    @include respond(tab-port) {
                        margin-top: 15px;
                    }
                    
                    img {
                        -o-object-fit: cover;
                           object-fit: cover;
                        height: 100%;
                        width: 100%;
                        -o-object-position: center;
                           object-position: center;
                    }
                }
            }

            .column-66 {
                width: calc(70% - 30px);
                margin-right: 30px;

                @include respond(tab-port) {
                    width:100%;
                }
            }
        }
    
        .slider-container {
            display: flex;
            align-items: normal;
            justify-content: space-between;
            background:white;
            height:100%;

            .slider-nav {
                position: absolute;
                width: auto;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 !important;
                padding: 0 !important;
                left: 0 !important;

                .slide-pagination {
                    height: 100%;
                    display: block;
                    width: 50px;

                    .slider-prev-button-slick,
                    .slider-prev-button-slick-testimonial,
                    .slider-prev-button-slick-generic {
                        height: calc(50% - 2px);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 36px;
                        background: $dkblue;
                        transition: 0.2s ease all;
                        cursor: pointer;

                        &::after {
                            background-image: url(/wp-content/uploads/2024/08/icon-chevron-left.svg);
                            content:"";
                            height: 25px;
                            width: 25px;
                        }
                    }
                    
                    .slider-next-button-slick,
                    .slider-next-button-slick-testimonial,
                    .slider-next-button-slick-generic {
                        height: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 36px;
                        background: $dkblue;
                        transition: 0.2s ease all;
                        border-bottom: 2px solid #D8DAE1;
                        cursor: pointer;

                        &::after {
                            background-image: url(/wp-content/uploads/2024/08/icon-chevron-right.svg);
                            content:"";
                            height: 25px;
                            width: 25px;
                        }
                    }

                    .icon-chevron-right,
                    .icon-chevron-left {
                        &::before {
                            color: #DBFF76;
                        }
                    }
                }
            }
        
            #results-slider,
            #testimonial-slider,
            #generic-slider  {
                width:85%;
                margin-left: 90px;
                padding: 50px 0 20px;

                @media screen and (max-width:820px) {
                    width:80%;
                }

                @media screen and (max-width:600px) {
                    width:75%;
                }

                @media screen and (max-width:480px) {
                    width:65%;
                }
        
                .slick-slide {
                    display: flex;
                    justify-content: flex-start;

                    h3 {
                        text-decoration: none;
                        font-size: 30px !important;
                        color: #0D2844;
                        font-weight: 700 !important;

                        span {
                            position: relative;
                            
                            &::after {
                                content: "";
                                position: absolute;
                                width: 100%;
                                height: 70%;
                                background: #DBFF76;
                                left: 0px;
                                z-index: -1;
                            }
                        }
                    }
            
                    p {
                        margin-bottom: 0 !important;
                        font-size: 18px !important;
                        line-height: 145% !important;
                    }
                }
            }

            .slider-dots-result,
            .slider-dots-testimonial,
            .slider-dots-generic {
                position: absolute;
                bottom: 30px !important;
                left: 80px !important;

                li {
                    &::before {
                        display:none;
                    }
                }

                .slick-dots {
                    position: relative;
                    bottom: auto;
                    list-style: none;
                    display: block;
                    text-align: center;
                    padding: 0;
                    margin: 0 !important;
                    width: 100%;
                    display: flex;

                    li {
                        padding-left: 0px;
                    }

                    button {
                        height: 20px;
                        width: 20px;

                        &::before {
                            font-size: 32px;
                        }
                    }
                }
            }

            .slider-dots-testimonial {
                width:85%;

                @media screen and (max-width:820px) {
                    width:80%;
                }

                @media screen and (max-width:600px) {
                    width:75%;
                }

                @media screen and (max-width:480px) {
                    width:65%;
                }

                &::before {
                    position: absolute;
                    left:5px;
                    top:-30px;
                    height: 1px;
                    border-bottom: 2px solid #000000;
                    width:100%;
                    content: "";
                }
            }
        }
    }

    @include ppc-block;

    .ppc-cta-block {
        margin-left: 0;

        .btn {
            margin-bottom: 0 !important;
        }
    }

    picture.review-logo {
        position: absolute;
        bottom: 0;
        right: 7%;

        @media screen and (max-width:480px) {
            right:12%;
        }

        img {
            max-height: 80px;
        }
    }
}

#attorney-slider {
    .attorney-container {
        display:flex !important;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;

        p {
            margin-bottom: 0 !important;
            font-size: 18px !important;
            line-height: 145% !important;
        }
    }

    @media screen and (max-width:820px) {
        .column-50 {
            &:first-of-type {
                margin-bottom: 40px;
            }
        }
    }

    .slide-pagination {
        display: flex;

        span.icon-chevron-left,
        span.icon-chevron-right {
            height: 50px;
            width: 50px;
            display: flex;
            font-size: 20px;
            font-weight: bold;
            justify-content: center;
            align-items: center;
            background: black;
            color: $yellow;
            border-radius: 50%;
        }
    }
}