$desktop-full: 1920px;
$desktop-lg: 1400px;
$desktop: 1200px;
$tab-land: 1024px;
$tab-port: 820px;
$phone: 600px;

$white: #ffffff;
$yellow: #FFCB47;
$dkblue: #0D2844;
$ltblue: #3772FF;
$ltgrey: #F0F2F5;