.page-template-ppc-block {
    .body-container {
        .testimonials {
            position: relative;

            @media screen and(max-width:820px) {
                padding-bottom: 180px;
            }
            
            .columns {
                align-items: center;
                justify-content: center;

                .column-33 {
                    margin-right: 40px;
                    display: flex;
                    justify-content: center;
                    
                    .headshot {
                        box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.15);
                        border-radius: 50%;
                        max-height: 300px;
                        margin-right: 50px;

                        @media screen and(max-width:820px) {
                            margin:0 auto 40px;
                        }
                    }
                }
                
                .column-66 {
                    max-width: 50%;

                    @media screen and(max-width:820px) {
                        max-width: 100%;
                    }

                    .quote-icon {
                        max-height: 45px;
                    }
                }
            }

            .background {
                width: 241px;
                position: absolute;
                right: 0;
                bottom: 0;
                height: 189px;
                background-repeat: no-repeat !important;
            }
        }
    }
}